# Data Preparation 7

Comorbidities, comorbidities scores and scores are added

In [57]:
import pandas as pd
from IPython.display import display
import numpy as np
import sqlite3
pd.options.display.max_columns = None
pd.options.display.max_rows = 200

In [58]:
admissions=pd.read_csv('MAIN_DF_6.csv')
admissions=admissions.drop(['Unnamed: 0'], axis=1)
admissions=admissions.reset_index(drop=True)
print(admissions.shape)
print('unique SUBJECT_ID:', admissions.SUBJECT_ID.nunique())
print('unique HADM_ID   :', admissions.HADM_ID.nunique())
print('unique ICUSTAY_ID:', admissions.ICUSTAY_ID.nunique())
admissions.head()

(48989, 64)
unique SUBJECT_ID: 36659
unique HADM_ID   : 46273
unique ICUSTAY_ID: 48989

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,GENDER,AGE_AD,ADMITTIME,DISCHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,INSURANCE,ETHNICITY,DIAGNOSIS,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,INTIME,OUTTIME,LOS,LOS_C,TIMEDELTA,TIMEDELTA_C,HOSPITAL_EXPIRE_FLAG,HEIGHT,WEIGHT,BMI,I_VEN,NI_VEN,227456_V,225624_V,220615_V,220621_V,226537_V,225664_V,220545_V,226540_V,225668_V,220235_V,223830_V,220734_V,227457_V,220224_V,220227_V,220645_V,226534_V,225690_V,220546_V,220739_V,223901_V,223900_V,223835_V,224688_V,224689_V,224690_V,220210_V,220277_V,220051_V,220052_V,220050_V,220045_V,220180_V,220181_V,220179_V,223761_V,224027_V
0,3,145834,211552,M,76.53,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,EMERGENCY ROOM ADMIT,Medicare,WHITE,HYPOTENSION,carevue,MICU,MICU,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,>4,10.78,>10,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,185777,294638,F,47.84,2191-03-16 00:28:00,2191-03-23 18:41:00,EMERGENCY,EMERGENCY ROOM ADMIT,Private,WHITE,"FEVER,DEHYDRATION,FAILURE TO THRIVE",carevue,MICU,MICU,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,1-2,7.76,6-10,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,107064,228232,F,65.94,2175-05-30 07:15:00,2175-06-15 16:00:00,ELECTIVE,PHYS REFERRAL/NORMAL DELI,Medicare,WHITE,CHRONIC RENAL FAILURE/SDA,carevue,SICU,SICU,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,2-4,16.36,>10,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,150750,220597,M,41.79,2149-11-09 13:06:00,2149-11-14 10:15:00,EMERGENCY,EMERGENCY ROOM ADMIT,Medicaid,NW,HEMORRHAGIC CVA,carevue,MICU,MICU,2149-11-09 13:07:02,2149-11-14 20:52:14,5.3231,>4,4.88,3-6,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,194540,229441,F,50.15,2178-04-16 06:18:00,2178-05-11 19:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,Private,WHITE,BRAIN MASS,carevue,SICU,SICU,2178-04-16 06:19:32,2178-04-17 20:21:05,1.5844,1-2,25.53,>10,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
comorbidities=pd.read_csv('data/MV/Comorbidities/ELIXHAUSER_AHRQ_NO_DRG_ALL_ICD.csv')
comorbidities=comorbidities.drop(['Unnamed: 0'], axis=1)
print(comorbidities.shape)
print('unique SUBJECT_ID:', comorbidities.subject_id.nunique())
print('unique hadmin:', comorbidities.hadm_id.nunique())
comorbidities=comorbidities.sort_values(by=['hadm_id'])
comorbidities=comorbidities.reset_index(drop=True)
comorbidities.head()

(58976, 32)
unique SUBJECT_ID: 46520
unique hadmin: 58976

,subject_id,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,paralysis,other_neurological,chronic_pulmonary,diabetes_uncomplicated,diabetes_complicated,hypothyroidism,renal_failure,liver_disease,peptic_ulcer,aids,lymphoma,metastatic_cancer,solid_tumor,rheumatoid_arthritis,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression
0,58526,100001,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,54610,100003,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,9895,100006,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1
3,23018,100007,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,533,100009,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0

In [60]:
scoresComorbidities=pd.read_csv('data/MV/Comorbidities/ELIXHAUSER_AHRQ_AHRQ_SCORE.csv')
scoresComorbidities=scoresComorbidities.drop(['Unnamed: 0'], axis=1)
print(scoresComorbidities.shape)
print('unique SUBJECT_ID:', scoresComorbidities.subject_id.nunique())
print('unique hadmin:', scoresComorbidities.hadm_id.nunique())
scoresComorbidities=scoresComorbidities.sort_values(by=['hadm_id'])
scoresComorbidities=scoresComorbidities.reset_index(drop=True)
scoresComorbidities.head()

(58976, 5)
unique SUBJECT_ID: 46520
unique hadmin: 58976

,subject_id,hadm_id,elixhauser_vanwalraven,elixhauser_sid29,elixhauser_sid30
0,58526,100001,5,5,5
1,54610,100003,11,5,7
2,9895,100006,11,11,22
3,23018,100007,0,0,0
4,533,100009,-4,-1,-1

In [61]:
scoresComorbidities=pd.merge(comorbidities, scoresComorbidities, on=['subject_id', 'hadm_id'])
scoresComorbidities=scoresComorbidities.rename({'subject_id':'SUBJECT_ID', 'hadm_id':'HADM_ID'}, axis='columns')

In [62]:
print(scoresComorbidities.shape)
print('unique SUBJECT_ID:', scoresComorbidities.SUBJECT_ID.nunique())
print('unique hadmin:', scoresComorbidities.HADM_ID.nunique())
scoresComorbidities.head()

(58976, 35)
unique SUBJECT_ID: 46520
unique hadmin: 58976

,SUBJECT_ID,HADM_ID,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,paralysis,other_neurological,chronic_pulmonary,diabetes_uncomplicated,diabetes_complicated,hypothyroidism,renal_failure,liver_disease,peptic_ulcer,aids,lymphoma,metastatic_cancer,solid_tumor,rheumatoid_arthritis,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression,elixhauser_vanwalraven,elixhauser_sid29,elixhauser_sid30
0,58526,100001,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5,5
1,54610,100003,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11,5,7
2,9895,100006,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,11,11,22
3,23018,100007,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,533,100009,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,-4,-1,-1

In [63]:
admissions=pd.merge(admissions, scoresComorbidities, on=['SUBJECT_ID', 'HADM_ID'])
admissions.shape

(48989, 97)

## Scores

In [64]:
sofa=pd.read_csv('data/MV/SeverityScores/SOFA.csv')
sofa=sofa.rename({'subject_id':'SUBJECT_ID', 'hadm_id':'HADM_ID', 'icustay_id':'ICUSTAY_ID'}, axis='columns')
sofa=sofa.drop(['Unnamed: 0'], axis=1)
print(sofa.shape)
sofa.head()

(61532, 10)

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,sofa,respiration,coagulation,liver,cardiovascular,cns,renal
0,55973,152234,200001,6,NaN,1.0,0.0,1.0,1.0,3.0
1,27513,163557,200003,6,2.0,1.0,2.0,1.0,0.0,0.0
2,10950,189514,200006,1,NaN,0.0,NaN,1.0,0.0,0.0
3,20707,129310,200007,1,NaN,0.0,NaN,1.0,0.0,0.0
4,29904,129607,200009,3,0.0,2.0,NaN,1.0,0.0,0.0

In [65]:
admissions=pd.merge(admissions, sofa, on=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])
admissions.shape

(48989, 104)

In [66]:
sapsii=pd.read_csv('data/MV/SeverityScores/SAPSII.csv')
sapsii=sapsii.rename({'subject_id':'SUBJECT_ID', 'hadm_id':'HADM_ID', 'icustay_id':'ICUSTAY_ID'}, axis='columns')
sapsii=sapsii.drop(['Unnamed: 0'], axis=1)
print(sapsii.shape)
sapsii.head()

(61532, 20)

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,sapsii,sapsii_prob,age_score,hr_score,sysbp_score,temp_score,pao2fio2_score,uo_score,bun_score,wbc_score,potassium_score,sodium_score,bicarbonate_score,bilirubin_score,gcs_score,comorbidity_score,admissiontype_score
0,55973,152234,200001,38,0.212560,12,4.0,5.0,0.0,NaN,11.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0,6
1,27513,163557,200003,30,0.106398,7,4.0,5.0,0.0,NaN,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0,8
2,10950,189514,200006,20,0.037205,7,2.0,5.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0,6
3,20707,129310,200007,18,0.029295,7,0.0,5.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0,6
4,29904,129607,200009,21,0.041754,7,0.0,5.0,0.0,6.0,0.0,0.0,0.0,3.0,0.0,0.0,NaN,0.0,0,0

In [67]:
admissions=pd.merge(admissions, sapsii, on=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])
admissions.shape

(48989, 121)

In [68]:
saps=pd.read_csv('data/MV/SeverityScores/SAPS.csv')
saps=saps.rename({'subject_id':'SUBJECT_ID', 'hadm_id':'HADM_ID', 'icustay_id':'ICUSTAY_ID'}, axis='columns')
saps=saps.drop(['Unnamed: 0'], axis=1)
print(saps.shape)
saps.head()

(61532, 19)

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,saps,age_score,hr_score,sysbp_score,resp_score,temp_score,uo_score,vent_score,bun_score,hematocrit_score,wbc_score,glucose_score,potassium_score,sodium_score,bicarbonate_score,gcs_score
0,55973,152234,200001,20,2,2.0,0.0,1.0,0.0,3.0,0,4.0,2.0,2.0,4.0,0.0,0.0,0.0,0.0
1,27513,163557,200003,24,1,2.0,2.0,3.0,1.0,1.0,3,1.0,0.0,4.0,4.0,1.0,0.0,1.0,0.0
2,10950,189514,200006,15,1,2.0,0.0,1.0,0.0,0.0,3,1.0,2.0,0.0,4.0,0.0,0.0,1.0,0.0
3,20707,129310,200007,6,0,0.0,0.0,1.0,0.0,0.0,0,1.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
4,29904,129607,200009,13,1,0.0,0.0,0.0,1.0,0.0,3,1.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0

In [69]:
admissions=pd.merge(admissions, saps, on=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])
admissions.shape

(48989, 137)

In [70]:
oasis=pd.read_csv('data/MV/SeverityScores/OASIS.csv')
oasis=oasis.rename({'subject_id':'SUBJECT_ID', 'hadm_id':'HADM_ID', 'icustay_id':'ICUSTAY_ID'}, axis='columns')
oasis=oasis.drop(['Unnamed: 0'], axis=1)
print(oasis.shape)
oasis.head()

(61532, 28)

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,icustay_age_group,hospital_expire_flag,icustay_expire_flag,oasis,oasis_prob,age,age_score,preiculos,preiculos_score,gcs,gcs_score,heartrate,heartrate_score,meanbp,meanbp_score,resprate,resprate_score,temp,temp_score,urineoutput,urineoutput_score,mechvent,mechvent_score,electivesurgery,electivesurgery_score
0,55973,152234,200001,adult,0,0,42,0.305849,61,6,7 days 03:02:12,1,14.0,3.0,134.0,6.0,60.000000,2.0,32.0,6.0,36.388889,2.0,250.0,10.0,0,0,0,6
1,27513,163557,200003,adult,0,0,35,0.152892,48,3,02:48:04,3,15.0,0.0,122.0,3.0,179.000000,3.0,39.0,6.0,36.388889,2.0,3652.0,0.0,1,9,0,6
2,10950,189514,200006,adult,0,0,32,0.109623,54,6,00:01:14,5,15.0,0.0,73.0,0.0,61.000000,2.0,27.0,1.0,36.166666,2.0,1955.0,1.0,1,9,0,6
3,20707,129310,200007,adult,0,0,26,0.054187,43,3,00:01:37,5,15.0,0.0,104.0,1.0,50.666698,3.0,29.0,1.0,36.388889,2.0,1295.0,5.0,0,0,0,6
4,29904,129607,200009,adult,0,0,25,0.048012,47,3,-00:10:28,5,15.0,0.0,106.0,1.0,60.000000,2.0,17.5,0.0,34.599998,4.0,1570.0,1.0,1,9,1,0

In [71]:
admissions=pd.merge(admissions, oasis, on=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])
admissions.shape

(48989, 162)

In [72]:
apsiii=pd.read_csv('data/MV/SeverityScores/APSIII.csv')
apsiii=apsiii.rename({'subject_id':'SUBJECT_ID', 'hadm_id':'HADM_ID', 'icustay_id':'ICUSTAY_ID'}, axis='columns')
apsiii=apsiii.drop(['Unnamed: 0'], axis=1)
print(apsiii.shape)
apsiii.head()

(61532, 21)

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,apsiii,apsiii_prob,hr_score,meanbp_score,temp_score,resprate_score,pao2_aado2_score,hematocrit_score,wbc_score,creatinine_score,uo_score,bun_score,sodium_score,albumin_score,bilirubin_score,glucose_score,acidbase_score,gcs_score
0,55973,152234,200001,63,0.188678,7.0,7.0,0.0,6.0,0.0,3.0,5.0,7.0,15.0,12.0,0.0,NaN,0.0,0.0,1.0,0.0
1,27513,163557,200003,48,0.102705,7.0,10.0,0.0,9.0,NaN,3.0,5.0,0.0,0.0,7.0,0.0,0.0,6.0,0.0,1.0,0.0
2,10950,189514,200006,23,0.033927,0.0,7.0,0.0,6.0,NaN,3.0,0.0,0.0,4.0,0.0,0.0,NaN,NaN,3.0,NaN,0.0
3,20707,129310,200007,33,0.053332,1.0,15.0,0.0,6.0,NaN,3.0,0.0,0.0,5.0,0.0,0.0,0.0,NaN,3.0,NaN,0.0
4,29904,129607,200009,26,0.038894,1.0,7.0,8.0,0.0,0.0,3.0,0.0,0.0,4.0,0.0,0.0,NaN,NaN,0.0,3.0,0.0

In [73]:
admissions=pd.merge(admissions, apsiii, on=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])
admissions.shape

(48989, 180)

In [74]:
admissions.to_csv('MAIN_DF_7.csv')